<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta charset="UTF-8">
	<title>Opendata</title>
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<link href="https://fonts.googleapis.com/css?family=Sarabun:100,300,500" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body class="dup-body">
	<div class="dup-body-wrap">
		<header class="default-header">
			<div class="header-wrap">
				<div class="header-top d-flex justify-content-between align-items-center">
					<div class="logo">
						<h1>Opendata</h1>
					</div>
				</div>
			</div>
		</header>
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-between" style="height: 937px;">
					<div class="col-lg-6 col-md-7 col-sm-8">
						<div class="banner-content">
							<h1>รายงาน COVID-19 ประจำวัน</h1>
							<p>รายงานผู้ป่วยยืนยันประจำวัน จาก กรมควบคุมโรค</p>
							<a class="primary-btn" href="/covid19/xml">Download XML<span class="lnr lnr-arrow-right"></span></a>
							<a class="primary-btn" href="/covid19/dtd">Download DTD<span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-4"><img alt="" class="img-fluid" src="img/covid19.png"></div>
				</div>
			</div>
		</section>
		<section class="section-gap carousel-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6 col-md-4">
						<div class="carousel-thumb"><img alt="" class="img-fluid" src="img/fish.jpg"></div>
					</div>
					<div class="col-xl-6 col-md-7">
						<div class="carousel-content">
							<h2 class="text-white">ข้อมูลสัตว์น้ำของไทย กรมประมง</h2>
							<h5 class="text-white mb-20">ระบบฐานข้อมูลสัตว์น้ำของไทย จัดทำโดยกรมประมง จัดเก็บข้อมูลแยกตามวงศ์ของสัตว์น้ำ และชนิดสัตว์น้ำ (ปลาน้ำจืด ปลาชายฝั่ง ปลาทะเล ปลาจัดการ ปูน้ำจืด ปูชายฝั่ง ปูทะเล ปูจัดการ กุ้งน้ำจืด กุ้งชายฝั่ง กุ้งทะเล กุ้งจัดการ หอยน้ำจืด หอยชายฝั่ง หอยทะเล หอยจัดการ อึ่งน้ำจืด ตะพาบน้ำจืด เต่าน้ำจืด กบน้ำจืด)</h5>
							<a class="primary-btn white" href="/fish/xml">Download XML <span class="lnr lnr-arrow-right"></span></a>
							<a class="primary-btn white" href="/fish/dtd">Download XML <span class="lnr lnr-arrow-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="contact-area">
			<div class="container">
				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					<p class="footer-text m-0">Copyright © 2018 All rights reserved | This template is made with <i aria-hidden="true" class="fa fa-heart-o"></i> by <a href="https://colorlib.com/">Colorlib</a></p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
